{% extends '@App/base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcomed to</span> Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</h1>
            </div>
        </div>
    </div>

    <div>
        <table class="striped">
            <thead>
            <tr>
                <th>Gesamtrang</th>
                <th>Nickname</th>
                <th>Spiel 1</th>
                <th>Spiel 2</th>
                <th>Spiel 3</th>
                <th>Spiel 4</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>Jonathan</td>
                <td>Lollipop</td>
                <td>$7.00</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
