{% extends '@App/base.html.twig' %}

{% block body %}
    <div>
        <a href="{{ path('homepage') }}" class="waves-effect waves-light btn back-button">Zurück zur Startseite</a>
        <table class="striped">
            <thead>
            <tr>
                <th>Rank</th>
                <th>Punkte</th>
            </tr>
            </thead>

            <tbody>
            {% for rankPoint in rankPoints %}
                <tr>
                    <td>{{ rankPoint.place }}</td>
                    <td>{{ rankPoint.points }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}
