{% extends '@App/base.html.twig' %}

{% block body %}
    <div id="wrapper" class="container">
        <div class="row">
            <div class="col s12">
                <h2>
                    Willkommen zum Lanmeister 2017!
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                Wähle einen Event:

                <div class="collection">
                    {% for event in events %}
                        <a href="{{ path('event', {'eventId': event.id}) }}" class="collection-item">
                            {{ event.name }}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
