{% extends '@App/base.html.twig' %}

{% block body %}
    <div id="wrapper" class="container">
        <div class="row">
            <div class="col s12">
                <h2>
                    Welcome to the Tournament Master 4000
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <ul>
                    {% for event in events %}
                        <li>
                            <a href="{{ path('event', {'eventId': event.id}) }}">{{ event.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
