{% extends '@App/base.html.twig' %}

{% block headerTitle %}
    Resultat hinzufügen
{% endblock %}

{% block navigation %}
    <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{{ path('homepage') }}">Startseite</a></li>
    </ul>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="collection">
                    {% for game in games %}
                        <a href="{{ path('add-result', {
                            'eventId': eventId,
                            'gameId': game.id
                        }) }}" class="collection-item">{{ game.name }}</a>

                    {% endfor %}
                </div>
            </div>
        </div>
        <a href="{{ path('event', {'eventId': eventId}) }}" class="waves-effect waves-light btn back-button">Zurück</a>
    </div>
{% endblock %}
